/************Reset**************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Rampart One", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #74450d;
}

h2 {
  font-family: "Chicle", serif;
  font-size: 35px;
  color: #74450d;
  text-align: center;
}

.dot1 {
  height: 60px;
  width: 60px;
  margin: 10px;
  margin-top: 20px;
  background-color: #fdb414;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 50px;
  width: 50px;
  margin: 10px;
  margin-top: 20px;
  background-color: #ffc760;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 40px;
  width: 40px;
  margin: 10px;
  margin-top: 20px;
  background-color: #ff9737;
  border-radius: 50%;
  display: inline-block;
}

.dot6 {
  height: 60px;
  width: 60px;
  margin: 10px;
  background-color: #fdb414;
  border-radius: 50%;
  display: inline-block;
}

.dot5 {
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: #ffc760;
  border-radius: 50%;
  display: inline-block;
}

.dot4 {
  height: 40px;
  width: 40px;
  margin: 10px;
  background-color: #ff9737;
  border-radius: 50%;
  display: inline-block;
}

.leftdot {
  margin-left: 300px;
}
.rightdot {
  margin-left: 40px;
  margin-top: 5px;
  margin-top: 1px;
}

#home {
  scroll-margin-top: 120px;
}

/********Knapper********/

#projekter {
  background-color: #ffc760;
  border-top: #74450d 2px solid;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Anton SC", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #74450d;
  background-color: #fdb414;
  border: none;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 9px #999;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-wrapper {
  text-align: center;
  margin-top: 40px;
}

/*******erfaring******/

#erfaring {
  background-color: #f8efe4;
  border-top: #74450d 2px solid;
  display: grid;
}

.rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dot {
  height: 30px;
  width: 30px;
  margin: 2px;
  margin-top: 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.adobe {
  margin-left: 50px;
  margin-top: 50px;
}

.d1 {
  height: 30px;
  width: 30px;
  margin: 2px;
  margin-top: 5px;
  background-color: #fdb414;
  border-radius: 50%;
  display: inline-block;
}

h3 {
  margin-left: 5px;
  font-family: "Anton SC", sans-serif;
  color: #74450d;
}

/*******om-mig*********/

#om-mig {
  background-color: #ffc760;
  border-top: #74450d 2px solid;
  display: grid;
}

.om-mig1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
}

.om-mig1 img {
  margin-top: 10px;
  border: 2px solid #74450d;
}

.om-mig2 {
  background-color: #fdb414; /* light background */
  border: 2px solid #74450d;
  padding: 20px; /* space inside the box */
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  align-items: center;
  justify-content: center;
  align-self: center;
}

/********desktop********/

@media (min-width: 840px) {
  h1 {
    font-size: 60px;
  }

  .leftdot {
    margin-left: 800px;
  }
  .rightdot {
    margin-left: 370px;
    margin-top: 10px;
  }

  /******projekter*******/

  /*******erfaring*******/

  .adobe {
    margin-left: 50px;
    margin-top: 50px;
  }

  #erfaring {
    align-items: center;
    justify-content: center;
  }

  .rating {
    margin-right: 35px;
    font-size: 20px;
  }

  .adobe {
    margin-left: 50px;
    margin-top: 50px;
    padding: 15px;
  }

  /*********Om-mig*********/

  .om-mig1 img {
    width: 60%;
    margin-left: 260px;
    margin-top: 20px;
  }

  .om-mig1 {
    margin-top: 2px;
    justify-content: center;
  }

  .om-mig2 {
    background-color: #fdb414; /* light background */
    border: 2px solid #74450d;
    padding: 10px; /* space inside the box */
    width: 400px;
    height: 570px;
    margin-top: 20px;
    margin-left: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
    align-items: center;
    justify-content: center;
    align-self: center;
  }
}
