. {
  background-color: #fdb414; /* light background */
  border: 2px solid #74450d;
  padding: 10px; /* space inside the box */
  width: 400px;
  height: 570px;
  margin-top: 20px;
  margin-left: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  align-items: center;
  justify-content: center;
  align-self: center;
}
